<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Home</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <h1>Admin-Home</h1>
            </td>
            <td>
                <a href="/logout">Logout</a>
            </td>
        </tr>
    </table>
    <script>
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };

    </script>
</body>

</html>